@model Amlak.Core.Entities.Pages

<div class="Page2colRowItem col-md-6 col-12">
    <div class="Page2colRowItemHeader AboutRagaItemHeader sborder p10 bold relative before textcut">درباره راگــــــــــــا</div>
    <div class="AboutRagaItemContent py-3 px-1 ofh">
        <figure class="AboutRagaItemPic float-left p-1 relative ofh tc">
            <img src="~/image/pic7.jpg" class="img-fluid relativemv" />
        </figure>
        <div class="AboutRagaItemText lh3 text-justify px-1 CutString CutString4">
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>