

<div>
    <h4 style="font-weight: 600;">برای شرکت در طرح‌های کالابین قوانین و مقررات زیر را به یاد داشته باشید:</h4>

    <p>
        <span style="font-weight: 600;">-</span> از هر جایزه در کالابین در هر دوره مسابقات فقط یک عدد وجود دارد و با <span style="font-weight: 600; color: #dc1111;">برنده</span> شدن یکی از مراجعین دیگر از آن جایزه از آن مقطع زمانی وجود نخواهد داشت. البته ممکن است از آن جایزه در یک مقطع زمانی دیگر بطور مثال روزها یا هفته ‌های بعد مجدداً در سایت اضافه شود.
    </p>
    <p>
        <span style="font-weight: 600;">-</span> ملاک احراز هویت در کالابین <span style="font-weight: 600;">شماره موبایل</span> و <span style="font-weight: 600;">کد ملی</span> است و جایزه به شخصی که صاحب خط موبایل با کد ملی اعلام شده باشد، تحویل داده خواهد شد.
    </p>
    <p>
        <span style="font-weight: 600;">-</span> هیچ محدودیتی برای <span style="font-weight: 600; color: #dc1111;">برنده</span> شدن در مسابقات کالابین نیست این بدان معناست که شما می‌توانید در یک روز <span style="font-weight: 600; color: #dc1111;">برنده</span> یک یا دو یا حتی چند جایزه شوید.
    </p>
    <p>
        <span style="font-weight: 600;">-</span> هیچ محدودیتی برای شرکت در ۲ فروشی نیست شما می توانید همزمان در فروشی چند کالا شرکت نمایید.
    </p>
    <p>
        <span style="font-weight: 600;">سوالات چهارگزینه‌ای</span> به هر شرکت‌کننده تنها یکبار فرصت می‌دهد تا <span style="font-weight: 600; color: #dc1111;">برنده</span> شود بدیهی است سوال تنها زمانی مجدداً برای شما نمایش داده می‌شود که به همه یکبار این فرصت داده شده باشد و کسی نتوانسته باشد به سوال خود پاسخ دهد.
    </p>
    <p>
        <span style="font-weight: 600;">-</span> مسئولیت اختلال برق، قطعی اینترنت و اشتباهات کاربری در <span style="font-weight: 600; color: #dc1111;">برنده</span> نشدن شما فقط با خود شماست و حتی اگر تعداد سکه زیادی هم برای <span style="font-weight: 600; color: #dc1111;">برنده</span> شدن خرج کرده باشید و اگر اینترنت شما قطع شود و یا کامپیوتر شما خاموش شود شما مسئول باخت خود هستید پس در شرایط مناسب با اینترنت مناسب در مقابل سایت بنشینید و درطرح‌ها شرکت کنید
    </p>
    <p>
        <span style="font-weight: 600; color: #dc1111;">تذکر:</span> قبل از هر اقدامی حتماً <a style="font-weight: 600;" href="/pages/help/">راهنمای سایت</a> را کامل بخوانید تا در انجام مسابقات و طرح‌ها دچار اشتباه نشوید .
    </p>
</div>