<h3>راهنمای سایت:</h3>

<p>&nbsp;</p>

<p><strong><span style="color:#dc1111">۱- ثبت نام در کالابین</span> </strong></p>

<p>شما برای شرکت در تمامی خرید ها &nbsp;باید در کالابین ثبت نام نمایید. این ثبت نام از آنجا اهمیت دارد که اگر شما کالایی را خریده باشید هویت شما برای ما باید شناسایی شده باشد&nbsp;و احراز هویت شما براساس اطلاعات شما در زمان ثبت نام انجام خواهد پذیرفت .</p>

<p style="text-align:center"><strong>&quot;لذا در ثبت نام و ثبت اطلاعات تکمیل خود دقت نمایید.&quot;</strong></p>

<p>ثبت نام در کالابین بسیار ساده است وکافی است از منوی بالا چپ صفحه گزینه ثبت نام را کلیک نمایید و فرم مربوط راکه بسیار مختصر است پر نمایید. ثبت نام شما براساس شماره موبایل صورت می &zwnj;پذیرد. لذا در ثبت شماره موبایل خود دقت نمایید. تمامی اطلاع&zwnj;رسانی&zwnj;ها&nbsp;و ... به این موبایل پیام کوتاه خواهد شد.</p>

<p>&nbsp;</p>

<p style="text-align:center">
    <span style="font-size:18px">
        <span style="color:#e67e22"><a href="http://www.calabin.com/account/register/" target="_self"><img alt="" src="http://www.calabin.com/theme/yellow/docs/images/help/register-help.png" style="border-style:solid; border-width:0px" /> </a> </span><br />
        <a href="http://www.calabin.com/account/register/" target="_self"><span style="color:#e67e22">برای ثبت نام کافی است اینجا کلیک کنید&nbsp;</span> </a>
    </span>
</p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong><span style="color:#dc1111">نکات بسیار مهم :</span> </strong> </span></p>

<ul>
    <li>برای تایید کاربری شما بلافاصله بعد از تکمیل فرم یک کد فعال سازی به شماره همراه وارد شده ارسال می&zwnj;گردد که شما باید آن را در محل نمایش داده شده وارد نمایید تا کاربری شما فعال گردد.</li>
    <li>پس از فعال &zwnj;سازی فرمی در اختیار شما قرار خواهد گرفت که اطلاعات کامل تری از شما شامل: کد ملی ، تلفن وآدرس و ... را از شما سوال می کند.</li>
    <li>در تکمیل این فرم دقت کنید زیرا در صورت خریدن یک یا چند کالا این اطلاعات مدرک ما برای ارسال جایزه و شناسایی شما خواهد بود.</li>
</ul>

<p>&nbsp;</p>

<p><img alt="" src="http://www.calabin.com/theme/yellow/docs/images/help/performance-help.png" style="border-style:solid; border-width:0px; float:right; margin:20px" /></p>

<p>&nbsp;</p>

<p>
    <br />
    <span style="font-size:18px">با انجام این مرحله ثبت نام شما در کالابین کامل شده </span>
</p>

<p><span style="font-size:18px">و شما با افتخار به جمع کالابینیها اضافه شده &zwnj;اید. </span></p>

<p><span style="color:#e67e22"><span style="font-size:18px">حال وقت یک خرید هیجان انگیز &nbsp;است</span>.</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong><span style="color:#dc1111">۲- انجام خرید در کالابین&nbsp;</span> </strong> </span></p>

<p>پس از آنکه ثبت نام شما کامل شد و نام کاربری و رمز دریافت کردید از بخش بالای سمت چپ بر روی گزینه <a href="http://www.calabin.com/account/login/" target="_self"> <span style="color:#e67e22">ورود به کالابین</span> </a> کلیک کنید و با نام کاربری و رمز داده شده وارد شوید , پس از ورود , شما باید اعتبار خریداری نمایید زیرا برای شرکت در هر خرید، شما باید اعتبار داشته باشید اعتبارها را به روش زیر می&zwnj;توانید بصورت بسته&zwnj;های <span style="color:#dc1111">۲۵ تایی</span>، <span style="color:#dc1111">۵۰ تایی</span> و یا <span style="color:#dc1111">۱۲۵ تایی&nbsp; و ۲۵۵ تایی&nbsp;</span>&nbsp;از بخش <a href="http://www.calabin.com/coins/" style="font-weight: 600;" target="_self"> <span style="color:#e67e22">خرید بسته</span> </a> در سایت تهیه کنید.</p>

<p>برای اینکار در منوی بالایی روی گزینه <a href="/coinspackage/" style="font-weight: 600;">خرید بسته</a> کلیک کنید و یکی از بسته&zwnj;ها را انتخاب کنید .سپس شما به درگاه بانکی متصل می&zwnj;شوید و با پرداخت مبلغ خرید این تعداد اعتبار به صندوق شما اضافه می&zwnj;شود که هر بار پس از ورود تعداد آن نمایش داده می&zwnj;شود و با شرکت در هر فروش،&nbsp;&zwnj;یکی از آن کسر می&zwnj;گردد. توجه داشته باشید برای فروش&zwnj;هایی که به لحظه آخر رسیده&zwnj;اند شما فرصت کافی برای خرید و پرداخت آنلاین بسته جدید ندارید پس همیشه سعی کنید تعداد اعتبارمورد نیاز خود را از قبل تهیه کنید.</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><a href="http://www.calabin.com/coins/" target="_self"><img alt="" src="http://cdn.calabin.com/repository/image/2017/10/11/a690131f-ba28-4ad5-b69c-8946c609d3f3.png" style="height:250px; width:250px" /> </a></p>

<p style="text-align:center">&nbsp;</p>

<p>برای شرکت در هر خرید ، کلیدی با عنوان پیشنهاد پایین آن قرار گرفته که شما می&zwnj;توانید با کلیک روی آن خریدار آخر آن کالا باشید.</p>

<p>اگر بعد از شما تا زمان باقی مانده که در بالای همین کلید وجود دارد شخص دیگری پیشنهاد ندهد شما برنده خرید این کالا&nbsp;خواهید بود.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong><span style="color:#dc1111">۳- تشریح کامل روش خرید برای یک کالا</span> </strong> </span></p>

<p>
    بگذارید با هم روند انجام یک خرید برای یک کالا را مرور کنیم.<br />
    <br />
    در صفحه اول شما&nbsp; فهرست کالا ها را در 6 گروه بندی مشاهده میکنید که شامل موارد زیر است :
</p>

<ul>
    <li>برگزیده</li>
    <li>کالای دیجیتال</li>
    <li>ورزش و سرگرمی</li>
    <li>زیبایی و سلامت</li>
    <li>لوازم خانگی</li>
    <li>لوازم بهداشتی&nbsp;</li>
</ul>

<p>برگزیده ها در حقیقت همان نمونه های برتر از 5 گروه اصلی دیگر هستند که در صفحه اول به شما پیشنهاد شده است.</p>

<p>شما میتوانید با کلید روی هر عنوان کالاهای آن گروه را مشاهده نمایید .</p>

<p>در نسخه موبایل این آیتم با عنوان فیلتر در کنار شرکت در فروش ها آمده است که کافی است روی آن کلیک کنید و از منوی کشویی گروه کالایی مد نظر خود را انتخاب نمایید.</p>

<p>&nbsp;</p>

<p><img alt="" class="img-responsive" src="http://www.calabin.com/theme/yellow/docs/images/help/goodNews.png" style="float:right; margin-bottom:30px; margin-left:0; margin-top:20px" /><span style="color:#e74c3c"><span style="font-size:18px">یک خبر خوب: </span></span></p>

<p><span style="font-size:18px">کالاها در کالابین محدودیتی ندارد و در تلاشیم تا با قرار دادن کالاهای کاربردی بدون توجه به سقف قیمتی شرایط را برای جذاب تر شدن خرید شما فراهم کنیم&nbsp;</span></p>

<p>
    <br />
    <span style="font-size:18px">شاید بزودی شما در خرید یک خودرو یا ویلا یا یک میز بیلیارد شرکت کنید ... برای همین همیشه به گروه ها سر بزنید تا کالاهای جدید را مشاهده کنید و از خرید آنها جا نمانید ...</span>
</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="color:#f39c12"><span style="font-size:18px">خوب برویم سراغ خرید ....</span></span></p>

<p>بطور مثال شما می&zwnj;خواهید در فروش یک تلویزیون در بخش لوازم دیجیتال شرکت کنید , پیشنهاد میکنم روی آن کالا کلیک کنید و در صفحه داخلی خرید را انجام دهید</p>

<p>&nbsp;</p>

<p style="text-align:center"><img alt="کالابین" class="img-responsive" src="http://www.calabin.com/theme/yellow/docs/images/help/site-view.jpg" style="margin:auto" /></p>

<p style="text-align:center">&nbsp;</p>

<p>یک شمارنده زمانی به صورت ساعت، دقیقه و ثانیه در زیر عکس محصول مشاهده می&zwnj;کنید که درحال کم شدن است.</p>

<p>هر فروشی که می خواهد رخ دهد یک زمان اولیه دارد هر قدر شرکت کنندگان در آن فروش مشارکت کنند این زمان بصورت هوشمند کم و کمتر می گردد تا به حداقل خود برسد. در هر زمان اگر شما با کلیک روی پیشنهاد جدید یک پیشنهاد جدید بدهید نام شما به عنوان خریدار در بالای نامهای دیگر قرار خواهد گرفت و اگر در زمان باقی مانده شخص دیگری پیشنهادی ندهد شما خریدار خواهید بود.</p>

<p>فهرست کسانی که پیشنهاد خود را برای خرید این کالا&nbsp; ارسال کرده اند نیز در کنار محصول نمایش داده می شود که نام شما نیز یکی از آنها&nbsp; خواهد بود.</p>

<p>معمولا این اتفاق کمتر رخ می&zwnj;دهد و با توجه به حجم شرکت کنندگان این زمان به کمترین مقدار خود یعنی ۱۰ ثانیه می&zwnj;رسد. در این زمان یک شانس دیگر به شما داده می&zwnj;شود تا با هوش خود بتوانید بدون انتظار برای سپری شدن ۱۰ ثانیه خریدار شوید و آن هم زمانی است که یک دکمه جدید زیر پیشنهاد جدید ظاهر می&zwnj;شود بنام ( <strong>شاه کلید</strong>) که با کلیک روی این دکمه همه چیز به مدت ۱۰ ثانیه&nbsp; متوقف می شود.</p>

<p>&nbsp;</p>

<p>توجه داشته باشید هر بار که پیشنهاد می دهید یکی از اعتبار شما کم میشود .نواری نیز در بالای صفحه قرار دارد که به شما نشان میدهد تا دریافت مجوز شاه کلید چقدر اعتبار نیاز دارید , هر ۲۵۰ اعتبار یک شاه کلید به شما می&zwnj;دهد .شاه کلید درحقیقت یک شانس ۹۹&nbsp;درصدی خرید هر کالایی هست که زمان آن به ۱۰&nbsp;ثانیه رسیده باشد .شاه کلید برای هر کالایی قابل استفاده هست یعنی شما می&zwnj;تواند به صفحه فروش کالایی بروید&nbsp;که ۱۰ ثانیه ای شده و از شاه کلید خود استفاده نمایید.</p>

<p>فقط کافی است کمی باهوش باشید و به سئوال پرسیده شده از شما پاسخ دهید , کار تمام است و شما برنده خواهید شد .....</p>

<p>با فعال شدن شاه کلید که سبز رنگ خواهد شد، هر کسی که اولین بار روی آن کلیک کند شانس پاسخ به سئوال 4 گزینه ای را&nbsp; خواهد داشت و دیگر کسی نمی تواند پیشنهاد جدید ارسال کند و وی ۲۰&nbsp;&nbsp;<strong>ثانیه</strong> فرصت دارد تا به سوال مطرح شده چهار گزینه&zwnj;ای پاسخ داده و برنده&nbsp; شود.&nbsp;اگر پاسخ شما درست باشد شما برنده خرید این کالا خواهید بود. در غیر اینصورت فرصت از شما گرفته خواهد شد و به شخص دیگری داده خواهد شد.</p>

<p>&nbsp;</p>

<p>یعنی اگر کالایی قفل شدن و شما نتوانستید روی شاه کلید آن کلیک کنید نا امید نشوید , ممکن است شخصی که باید به سئوال جواب دهد اشتباه جواب دهد و دوباره این فرصت در اختیار شما قرار گیرد که با کلیک روی کلید سبز رنگ شاه کلید با پاسخ به سئوال برنده شوید .....</p>

<p>&nbsp;</p>

<p><span style="color:#e67e22"><span style="font-size:18px">استفاده از شاه کلید رمز برنده شدن شماست , در کلیک روی آن وقتی روشن می شود (برای کالاهایی که زمان آنها به 10 ثانیه رسیده ) و پاسخ به سئوال 4 گزینه ای ...</span> </span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong><span style="color:#dc1111">۴- روش دریافت جایزه</span> </strong> </span></p>

<p>
    چنانچه شما در خرید یک کالا برنده شدید , ظرف مدت کمتر از یک ساعت در روز های کاری و 7 ساعت در روزهای تعطیل از طرف تیم پشتیبانی کالابین با شما تماس گرفته خواهد شد و با چک کردن اطلاعات شما هماهنگی لازم برای تحویل جایزه به شما انجام خواهد شد.<br />
    زمان تحویل کالا برای عزیزان تهرانی این مدت زمان ۲۴ ساعت و در شهرستان ها تا ۷۲ ساعت طول خواهد کشید.
</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="کالابین" src="http://www.calabin.com/theme/yellow/docs/images/logo.png" style="float:right; margin:10px 30px" /></p>

<p>
    <br />
    <span style="font-size:18px">
        اگر شما برنده خرید یک کالا شدید , مبلغی که برای شرکت<br />
        در آن هزینه کرده اید نیز از مبلغ خرید شما کم خواهد شد<br />
        و شما کالا را باز هم ارزانتر خواهید خرید.
    </span>
</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>
    <br />
    &nbsp;
</p>
