.Main1024Object{position:absolute;right:0;top:0}
body,ul li,ul,h1,h2,h3,h4,h5,h6,div,p,a,input,select,textarea,img,figure,section,header,footer,article,strong{margin:0px;padding:0px;Font-Family:Tahoma;Font-Size:8pt;Font-weight:normal;text-decoration:none;list-style-type:none;color:#000;outline:0;ie-dummy:expression(this.hideFocus=true);box-sizing:border-box;text-align:right}
div[align=center],p[align=center]{text-align:center}
img{border:0}
a:focus,a:hover{text-decoration:none}
.textcut{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.responsiveimage{max-width:100%;height:auto}
.after:after,.before:before{content:'';box-sizing:border-box}
.absolutemv,.relativemv{top:50%;?top:auto;top:auto\0/;transform:translateY(-50%)}
.absolutemh,.relativemh{left:50%;?left:auto;left:auto\0/;transform:translateX(-50%)}
.relativecentervh,.absolutecentervh{top:50%;?top:auto;top:auto\0/;left:50%;?left:auto;left:auto\0/;transform:translate(-50%,-50%)}
/*LazyImage*/
.js_lazy:not(.lazy-loaded) {
	background-color:#CCC
}
/*Font*/
.fs0{font-size:0}
.normal{font-weight:normal}
.bold{font-weight:bold}
.cFFF{color:#FFF}
.c000{color:#000}
.cb{clear:both}
/*Text*/
.tr{text-align:right}
.tl{text-align:left}
.tc{text-align:center}
.tj{text-align:justify}
.dr{direction:rtl}
.dl{direction:ltr}
.fr{float:right}
.fl{float:left}
/*Cursor*/
.pointer{cursor:pointer}
.default{cursor:default}
.move{cursor:move}
/*Margin&Padding*/
.ml5{margin-left:5px}
.mr5{margin-right:5px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.ml15{margin-left:15px}
.mr15{margin-right:15px}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.ma{margin:auto}
.m0a{margin-right:auto;margin-left:auto}
.m0{margin:0}
.p0{padding:0}
.mp0{padding:0;margin:0}
.p1{padding:1px}
.p2{padding:2px}
.p3{padding:3px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.prl2{padding-right:2px;padding-left:2px}
.prl5{padding-right:5px;padding-left:5px}
.prl10{padding-right:10px;padding-left:10px}
.prl15{padding-right:15px;padding-left:15px}
.prl20{padding-right:20px;padding-left:20px}
.m2{margin:2px}
.m5{margin:5px}
.m10{margin:10px}
.m20{margin:20px}
.mrl2{margin-right:2px;margin-left:2px}
.mrl5{margin-right:5px;margin-left:5px}
.mrl10{margin-right:10px;margin-left:10px}
.mrl15{margin-right:15px;margin-left:15px}
.mrl20{margin-right:20px;margin-left:20px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mtb2{margin-top:2px;margin-bottom:2px}
.mtb5{margin-top:5px;margin-bottom:5px}
.mtb10{margin-top:10px;margin-bottom:10px}
.mtb15{margin-top:15px;margin-bottom:15px}
.mtb20{margin-top:20px;margin-bottom:20px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.ptb2{padding-top:2px;padding-bottom:2px}
.ptb5{padding-top:5px;padding-bottom:5px}
.ptb10{padding-top:10px;padding-bottom:10px}
.ptb15{padding-top:15px;padding-bottom:15px}
.ptb20{padding-top:20px;padding-bottom:20px}
/*Display*/
.dnone,.none{display:none}
.dblock,.block{display:block}
.dtable,.table{display:table}
.dinlineblock,.inlineblock{display:inline-block}
/*Position*/
.absolute,.after:after,.before:before,.absolutemv,.absolutemh,.absolutecentervh{position:absolute}
.relative,.relativemv,.relativemh,.relativecentervh{position:relative}
.fixed{position:fixed}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.z5{z-index:5}
.t0{top:0}
.r0{right:0}
.l0{left:0}
.b0{bottom:0}
/*Width*/
.w100p{width:100%}
.w99p{width:99%}
.w98p{width:98%}
.w96p{width:96%}
.w50p{width:50%}
/*Height*/
.h100p{height:100%}
.lh1-5{line-height:1.5}
.lh2{line-height:2}
.lh2-5{line-height:2.5}
.lh3{line-height:3}
.lh3-5{line-height:3.5}
/*List-Style-Type*/
.nolst{list-style-type:none}
/*Border*/
.sborder{border-style:solid}
.dborder{border-style:dashed}
.border0{border-width:0px}
.border1{border-width:1px}
.border2{border-width:2px}
.border3{border-width:3px}
.border4{border-width:4px}
.btransparent{border-color:transparent}
/*Background*/
.transparent{background:transparent}
.bFFF{background-color:#FFF}
.b000{background-color:#000}
/*overflow*/
.ofh{overflow:hidden}
.ofa{overflow:auto}
.ofxa{overflow-x:auto}
.ofya{overflow-y:auto}
.ofxh{overflow-x:hidden}
.ofyh{overflow-y:hidden}
/*Css3*/
.trans400{transition:all 400ms ease-in-out;-webkit-transition:all 400ms ease-in-out;-ms-transition:all 400ms ease-in-out;-o-transition:all 400ms ease-in-out}
.trans800{transition:all 800ms ease-in-out;-webkit-transition:all 800ms  ease-in-out;-ms-transition:all 800ms ease-in-out;-o-transition:all 800ms ease-in-out}
.rotatex{transform:rotateX(180deg);-webkit-transform:rotateX(180deg);-o-transform:rotateX(180deg)}
.rotatey{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-o-transform:rotateY(180deg)}
.rotate360{transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}
.radius100p{border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%}
.radius2{border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px}
.radius3{border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px}
.radius5,.RotatingBanner img{border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.tradius3{border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0}
.rradius3{border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;-o-border-radius:0 3px 3px 0}
.lradius3{border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;-o-border-radius:3px 0 0 3px}
.tradius5{border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0}
.rradius5{border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;-o-border-radius:0 5px 5px 0}
.bradius3{border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px}
.bradius5{border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px}
/**/
.VisualBTN{display:inline-block;padding:0 10px;line-height:2;text-align:center;text-decoration:none;color:#FFF;border:1px solid;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
        -webkit-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
        -o-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius:4px;
        -webkit-border-radius:4px;
        -o-border-radius:4px;
        box-shadow:0 0 0.2em 0 #CCC;
        -webkit-box-shadow:0 0 0.2em 0 #CCC;
        -o-box-shadow:0 0 0.2em 0 #CCC;
}
.VisualBTN:hover{
        box-shadow:0 0 0.3em 0 #AAA;
        -webkit-box-shadow:0 0 0.3em 0 #AAA;
        -o-box-shadow:0 0 0.3em 0 #AAA;
}
.Grad_Blue{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#5BC0DE), to(#2F96B4));
	background:-moz-linear-gradient(#5BC0DE, #2F96B4 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5BC0DE',endColorstr='#2F96B4',GradientType=0);
	background:-ms-linear-gradient(top, #5BC0DE 0%, #2F96B4 90%); /*IE10*/
    background:-o-linear-gradient(top, #5BC0DE 0%, #2F96B4 90%);
}
.Grad_Green{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#62C462), to(#51A351));
	background:-moz-linear-gradient(#62C462, #51A351 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62C462',endColorstr='#51A351',GradientType=0);
	background:-ms-linear-gradient(top, #62C462 0%, #51A351 90%); /*IE10*/
    background:-o-linear-gradient(top, #62C462 0%, #51A351 90%);
}
.Grad_Red{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#EE5F5B), to(#BD362F));
	background:-moz-linear-gradient(#EE5F5B, #BD362F 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE5F5B',endColorstr='#BD362F',GradientType=0);
	background:-ms-linear-gradient(top, #EE5F5B 0%, #BD362F 90%); /*IE10*/
    background:-o-linear-gradient(top, #EE5F5B 0%, #BD362F 90%);
}
.Grad_Orange{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#FBB450), to(#F89406));
	background:-moz-linear-gradient(#FBB450, #F89406 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBB450',endColorstr='#F89406',GradientType=0);
	background:-ms-linear-gradient(top, #FBB450 0%, #F89406 90%); /*IE10*/
    background:-o-linear-gradient(top, #FBB450 0%, #F89406 90%);
}
.Grad_Black{
	background:-webkit-gradient(linear, 0 0, 0 70%, from(#555555), to(#222222));
	background:-moz-linear-gradient(#555555, #222222 70%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555',endColorstr='#222222',GradientType=0);
	background:-ms-linear-gradient(top, #555555 0%, #222222 70%); /*IE10*/
    background:-o-linear-gradient(top, #555555 0%, #222222 70%);
}

.Grad_Blue:hover{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#2F96B4), to(#5BC0DE));
	background:-moz-linear-gradient(#2F96B4, #5BC0DE 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F96B4',endColorstr='#5BC0DE',GradientType=0);
	background:-ms-linear-gradient(top, #2F96B4 0%, #5BC0DE 90%); /*IE10*/
    background:-o-linear-gradient(top, #2F96B4 0%, #5BC0DE 90%);
}
.Grad_Green:hover{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#51A351), to(#62C462));
	background:-moz-linear-gradient(#51A351, #62C462 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51A351',endColorstr='#62C462',GradientType=0);
	background:-ms-linear-gradient(top, #51A351 0%, #62C462 90%); /*IE10*/
    background:-o-linear-gradient(top, #51A351 0%, #62C462 90%);
}
.Grad_Red:hover{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#BD362F), to(#EE5F5B));
	background:-moz-linear-gradient(#BD362F, #EE5F5B 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#BD362F',endColorstr='#EE5F5B',GradientType=0);
	background:-ms-linear-gradient(top, #BD362F 0%, #EE5F5B 90%); /*IE10*/
    background:-o-linear-gradient(top, #BD362F 0%, #EE5F5B 90%);
}
.Grad_Orange:hover{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#F89406), to(#FBB450));
	background:-moz-linear-gradient(#F89406, #FBB450 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F89406',endColorstr='#FBB450',GradientType=0);
	background:-ms-linear-gradient(top, #F89406 0%, #FBB450 90%); /*IE10*/
    background:-o-linear-gradient(top, #F89406 0%, #FBB450 90%);
}
.Grad_Black:hover{
	background:-webkit-gradient(linear, 0 0, 0 90%, from(#222222), to(#555555));
	background:-moz-linear-gradient(#222222, #555555 90%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222',endColorstr='#555555',GradientType=0);
	background:-ms-linear-gradient(top, #222222 0%, #555555 90%); /*IE10*/
    background:-o-linear-gradient(top, #222222 0%, #555555 90%);
}