<div class="HouseImgGallery js_HouseImgGallery col-12 m-auto p-0 trans400">
    <div class="MainGallery relative">
        <div dir="rtl" class="slider slider-for sborder">
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/01.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/02.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/03.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/04.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/05.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/06.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/07.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
            <div>
                <figure class="MainGalleryPic m-auto w-100 h-100 d-flex align-items-center relative before">
                    <div class="MainGalleryPicBack"></div>
                    <img src="image/05.jpg" class="MainGalleryPicImg mw-100 mh-100 m-auto z1" />
                </figure>
            </div>
        </div>
        <div dir="rtl" class="slider slider-nav">
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/01.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/02.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/03.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/04.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/05.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/06.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/07.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
            <div>
                <figure class="w-100 h-100 m-0 px-2">
                    <img src="image/05.jpg" class="w-100 h-100 m-auto" />
                </figure>
            </div>
        </div>
    </div>
</div>