$themeColor: #3f9fe0;


$themeColor: #3f9fe0;
$textDark: #6f6f6f;
$textLight: #fff;
$radius: 2px;

$bluejeans: #4A89DC;
$aqua: #3BAFDA;
$aqualight: #cfe7ff;
$mint: #37BC9B;
$grass: #8CC152;
$sunflower: #F6BB42;
$bitter: #E9573F;
$grapefrute: #DA4453;
$lavendar: #967ADC;
$pinkrose: #D770AD;
$bellflower: #5D3F6A;
$violet: #5B3256;
$gray: #eee;
$mediumgray: #ddd;
$darkgray: #434A54;
$graydark: #b6b6b6;
$white: #fff;

$colors: (
		bluejeans: $bluejeans,
		aqua: $aqua,
		aqualight: $aqualight,
		mint: $mint,
		grass: $grass,
		sunflower: $sunflower,
		bitter: $bitter,
		grapefrute: $grapefrute,
		lavendar: $lavendar,
		pinkrose: $pinkrose,
		bellflower: $bellflower,
		violet: $violet,
		gray: $gray,
		mediumgray: $mediumgray,
		darkgray: $darkgray,
		graydark: $graydark,
		white: $white,
);

$navwidth: 250px;

