@model object

<div class="RelatedHouse col-12 mt-2 py-2">
    <div class="InnerPageItemHeader radius3">
        <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>موارد مشابه </h2>
    </div>
    <div class="row w-100 m-auto px-0">
        <div class="RelatedHouses col-lg-3 col-sm-6 col-12 p10">
            <a href="javascript:void(0)" class="RelatedHousesItem block sborder radius3 ofh p1">
                <span class="RelatedHousesItemType tc">فروشی</span>
                <figure class="RelatedHousesItemPic w100p tc relative relative">
                    <img src="image/pic1.jpg" class="relativemv" />
                    <figcaption class="absolute p5 w100p textcut tc">2 ملیارد</figcaption>
                </figure>
                <div class="RelatedHousesItemTitle textcut bold p10">فروش آپارتمان مسکونی 30 واحدی</div>
                <div class="RelatedHousesItemLocation textcut bold p10 relative before">فرمانیه</div>
                <div class="RelatedHousesItemDetails row ptb10 w100p m0a">
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> زیربنا <br /> 500</div>
                    <div class="RelatedHousesItemDetailsDiv col-4 tc bold"> تعداد خواب <br /> 3</div>
                    <div class="RelatedHousesItemDetailsDiv col-2 tc bold"> طبقه <br /> 5</div>
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> پارکینگ <br /> 1</div>
                </div>
            </a>
        </div>
        <div class="RelatedHouses col-lg-3 col-sm-6 col-12 p10">
            <a href="javascript:void(0)" class="RelatedHousesItem block sborder radius3 ofh p1">
                <span class="RelatedHousesItemType tc">فروشی</span>
                <figure class="RelatedHousesItemPic w100p tc relative relative">
                    <img src="image/pic2.jpg" class="relativemv" />
                    <figcaption class="absolute p5 w100p textcut tc">2 ملیارد</figcaption>
                </figure>
                <div class="RelatedHousesItemTitle textcut bold p10">فروش آپارتمان مسکونی 30 واحدی</div>
                <div class="RelatedHousesItemLocation textcut bold p10 relative before">فرمانیه</div>
                <div class="RelatedHousesItemDetails row ptb10 w100p m0a">
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> زیربنا <br /> 500</div>
                    <div class="RelatedHousesItemDetailsDiv col-4 tc bold"> تعداد خواب <br /> 3</div>
                    <div class="RelatedHousesItemDetailsDiv col-2 tc bold"> طبقه <br /> 5</div>
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> پارکینگ <br /> 1</div>
                </div>
            </a>
        </div>
        <div class="RelatedHouses col-lg-3 col-sm-6 col-12 p10">
            <a href="javascript:void(0)" class="RelatedHousesItem block sborder radius3 ofh p1">
                <span class="RelatedHousesItemType tc">فروشی</span>
                <figure class="RelatedHousesItemPic w100p tc relative relative">
                    <img src="image/pic3.jpg" class="relativemv" />
                    <figcaption class="absolute p5 w100p textcut tc">2 ملیارد</figcaption>
                </figure>
                <div class="RelatedHousesItemTitle textcut bold p10">فروش آپارتمان مسکونی 30 واحدی</div>
                <div class="RelatedHousesItemLocation textcut bold p10 relative before">فرمانیه</div>
                <div class="RelatedHousesItemDetails row ptb10 w100p m0a">
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> زیربنا <br /> 500</div>
                    <div class="RelatedHousesItemDetailsDiv col-4 tc bold"> تعداد خواب <br /> 3</div>
                    <div class="RelatedHousesItemDetailsDiv col-2 tc bold"> طبقه <br /> 5</div>
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> پارکینگ <br /> 1</div>
                </div>
            </a>
        </div>
        <div class="RelatedHouses col-lg-3 col-sm-6 col-12 p10">
            <a href="javascript:void(0)" class="RelatedHousesItem block sborder radius3 ofh p1">
                <span class="RelatedHousesItemType tc">فروشی</span>
                <figure class="RelatedHousesItemPic w100p tc relative relative">
                    <img src="image/pic4.jpg" class="relativemv" />
                    <figcaption class="absolute p5 w100p textcut tc">2 ملیارد</figcaption>
                </figure>
                <div class="RelatedHousesItemTitle textcut bold p10">فروش آپارتمان مسکونی 30 واحدی</div>
                <div class="RelatedHousesItemLocation textcut bold p10 relative before">فرمانیه</div>
                <div class="RelatedHousesItemDetails row ptb10 w100p m0a">
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> زیربنا <br /> 500</div>
                    <div class="RelatedHousesItemDetailsDiv col-4 tc bold"> تعداد خواب <br /> 3</div>
                    <div class="RelatedHousesItemDetailsDiv col-2 tc bold"> طبقه <br /> 5</div>
                    <div class="RelatedHousesItemDetailsDiv col-3 tc bold"> پارکینگ <br /> 1</div>
                </div>
            </a>
        </div>
    </div>
</div>
