.sam-font-iranian {
    font-family: Iranian, tahoma;
    font-weight: normal;
}

.sam-font-yekan {
    font-family: Iryekansl, tahoma;
    font-weight: normal;
}

.sam-font--sm {
	font-size:12px;
}

.sam-font--md {
	font-size:15px;
}


.sam-font--lg {
	font-size:20px;
}