[class^="sam-grid-col-"] { position: relative; min-height: 1px; }

[class^="sam-grid-col-mb"] { float: right; }

.sam-grid-row--flex {
  display: flex;
}

.sam-grid-row:before, .sam-grid-row:after { content: " "; display: table; }

.sam-grid-row:after { clear: both; }

.sam-grid-col-mb-12 { width: 100%; }
.sam-grid-col-mb-11 { width: 91.66666667%; }
.sam-grid-col-mb-10 { width: 83.33333333%; }
.sam-grid-col-mb-9 { width: 75%; }
.sam-grid-col-mb-8 { width: 66.66666667%; }
.sam-grid-col-mb-7 { width: 58.33333333%; }
.sam-grid-col-mb-6 { width: 50%; }
.sam-grid-col-mb-5 { width: 41.66666667%; }
.sam-grid-col-mb-4 { width: 33.33333333%; }
.sam-grid-col-mb-3 { width: 25%; }
.sam-grid-col-mb-2 { width: 16.66666667%; }
.sam-grid-col-mb-1 { width: 8.33333333%; }

.sam-grid-col-offset-mb-12 { margin-right: 100%; }
.sam-grid-col-offset-mb-11 { margin-right: 91.66666667%; }
.sam-grid-col-offset-mb-10 { margin-right: 83.33333333%; }
.sam-grid-col-offset-mb-9 { margin-right: 75%; }
.sam-grid-col-offset-mb-8 { margin-right: 66.66666667%; }
.sam-grid-col-offset-mb-7 { margin-right: 58.33333333%; }
.sam-grid-col-offset-mb-6 { margin-right: 50%; }
.sam-grid-col-offset-mb-5 { margin-right: 41.66666667%; }
.sam-grid-col-offset-mb-4 { margin-right: 33.33333333%; }
.sam-grid-col-offset-mb-3 { margin-right: 25%; }
.sam-grid-col-offset-mb-2 { margin-right: 16.66666667%; }
.sam-grid-col-offset-mb-1 { margin-right: 8.33333333%; }
.sam-grid-col-offset-mb-0 { margin-right: 0%; }

.sam-grid-col-pull-mb-12 { left: 100%; }
.sam-grid-col-pull-mb-11 { left: 91.66666667%; }
.sam-grid-col-pull-mb-10 { left: 83.33333333%; }
.sam-grid-col-pull-mb-9 { left: 75%; }
.sam-grid-col-pull-mb-8 { left: 66.66666667%; }
.sam-grid-col-pull-mb-7 { left: 58.33333333%; }
.sam-grid-col-pull-mb-6 { left: 50%; }
.sam-grid-col-pull-mb-5 { left: 41.66666667%; }
.sam-grid-col-pull-mb-4 { left: 33.33333333%; }
.sam-grid-col-pull-mb-3 { left: 25%; }
.sam-grid-col-pull-mb-2 { left: 16.66666667%; }
.sam-grid-col-pull-mb-1 { left: 8.33333333%; }
.sam-grid-col-pull-mb-0 { left: auto; }

.sam-grid-col-push-mb-12 { right: 100%; }
.sam-grid-col-push-mb-11 { right: 91.66666667%; }
.sam-grid-col-push-mb-10 { right: 83.33333333%; }
.sam-grid-col-push-mb-9 { right: 75%; }
.sam-grid-col-push-mb-8 { right: 66.66666667%; }
.sam-grid-col-push-mb-7 { right: 58.33333333%; }
.sam-grid-col-push-mb-6 { right: 50%; }
.sam-grid-col-push-mb-5 { right: 41.66666667%; }
.sam-grid-col-push-mb-4 { right: 33.33333333%; }
.sam-grid-col-push-mb-3 { right: 25%; }
.sam-grid-col-push-mb-2 { right: 16.66666667%; }
.sam-grid-col-push-mb-1 { right: 8.33333333%; }
.sam-grid-col-push-mb-0 { right: auto; }

@media (min-width: 480px) {
  [class*="sam-grid-col-ph"] { float: right; }

  .sam-grid-col-ph-12 { width: 100%; }
  .sam-grid-col-ph-11 { width: 91.66666667%; }
  .sam-grid-col-ph-10 { width: 83.33333333%; }
  .sam-grid-col-ph-9 { width: 75%; }
  .sam-grid-col-ph-8 { width: 66.66666667%; }
  .sam-grid-col-ph-7 { width: 58.33333333%; }
  .sam-grid-col-ph-6 { width: 50%; }
  .sam-grid-col-ph-5 { width: 41.66666667%; }
  .sam-grid-col-ph-4 { width: 33.33333333%; }
  .sam-grid-col-ph-3 { width: 25%; }
  .sam-grid-col-ph-2 { width: 16.66666667%; }
  .sam-grid-col-ph-1 { width: 8.33333333%; }

  .sam-grid-col-offset-ph-12 { margin-right: 100%; }
  .sam-grid-col-offset-ph-11 { margin-right: 91.66666667%; }
  .sam-grid-col-offset-ph-10 { margin-right: 83.33333333%; }
  .sam-grid-col-offset-ph-9 { margin-right: 75%; }
  .sam-grid-col-offset-ph-8 { margin-right: 66.66666667%; }
  .sam-grid-col-offset-ph-7 { margin-right: 58.33333333%; }
  .sam-grid-col-offset-ph-6 { margin-right: 50%; }
  .sam-grid-col-offset-ph-5 { margin-right: 41.66666667%; }
  .sam-grid-col-offset-ph-4 { margin-right: 33.33333333%; }
  .sam-grid-col-offset-ph-3 { margin-right: 25%; }
  .sam-grid-col-offset-ph-2 { margin-right: 16.66666667%; }
  .sam-grid-col-offset-ph-1 { margin-right: 8.33333333%; }
  .sam-grid-col-offset-ph-0 { margin-right: 0%; }

  .sam-grid-col-pull-ph-12 { left: 100%; }
  .sam-grid-col-pull-ph-11 { left: 91.66666667%; }
  .sam-grid-col-pull-ph-10 { left: 83.33333333%; }
  .sam-grid-col-pull-ph-9 { left: 75%; }
  .sam-grid-col-pull-ph-8 { left: 66.66666667%; }
  .sam-grid-col-pull-ph-7 { left: 58.33333333%; }
  .sam-grid-col-pull-ph-6 { left: 50%; }
  .sam-grid-col-pull-ph-5 { left: 41.66666667%; }
  .sam-grid-col-pull-ph-4 { left: 33.33333333%; }
  .sam-grid-col-pull-ph-3 { left: 25%; }
  .sam-grid-col-pull-ph-2 { left: 16.66666667%; }
  .sam-grid-col-pull-ph-1 { left: 8.33333333%; }
  .sam-grid-col-pull-ph-0 { left: auto; }

  .sam-grid-col-push-ph-12 { right: 100%; }
  .sam-grid-col-push-ph-11 { right: 91.66666667%; }
  .sam-grid-col-push-ph-10 { right: 83.33333333%; }
  .sam-grid-col-push-ph-9 { right: 75%; }
  .sam-grid-col-push-ph-8 { right: 66.66666667%; }
  .sam-grid-col-push-ph-7 { right: 58.33333333%; }
  .sam-grid-col-push-ph-6 { right: 50%; }
  .sam-grid-col-push-ph-5 { right: 41.66666667%; }
  .sam-grid-col-push-ph-4 { right: 33.33333333%; }
  .sam-grid-col-push-ph-3 { right: 25%; }
  .sam-grid-col-push-ph-2 { right: 16.66666667%; }
  .sam-grid-col-push-ph-1 { right: 8.33333333%; }
  .sam-grid-col-push-ph-0 { right: auto; }
}
@media (min-width: 768px) {
  [class*="sam-grid-col-tp"] { float: right; }

  .sam-grid-col-tp-12 { width: 100%; }
  .sam-grid-col-tp-11 { width: 91.66666667%; }
  .sam-grid-col-tp-10 { width: 83.33333333%; }
  .sam-grid-col-tp-9 { width: 75%; }
  .sam-grid-col-tp-8 { width: 66.66666667%; }
  .sam-grid-col-tp-7 { width: 58.33333333%; }
  .sam-grid-col-tp-6 { width: 50%; }
  .sam-grid-col-tp-5 { width: 41.66666667%; }
  .sam-grid-col-tp-4 { width: 33.33333333%; }
  .sam-grid-col-tp-3 { width: 25%; }
  .sam-grid-col-tp-2 { width: 16.66666667%; }
  .sam-grid-col-tp-1 { width: 8.33333333%; }

  .sam-grid-col-offset-tp-12 { margin-right: 100%; }
  .sam-grid-col-offset-tp-11 { margin-right: 91.66666667%; }
  .sam-grid-col-offset-tp-10 { margin-right: 83.33333333%; }
  .sam-grid-col-offset-tp-9 { margin-right: 75%; }
  .sam-grid-col-offset-tp-8 { margin-right: 66.66666667%; }
  .sam-grid-col-offset-tp-7 { margin-right: 58.33333333%; }
  .sam-grid-col-offset-tp-6 { margin-right: 50%; }
  .sam-grid-col-offset-tp-5 { margin-right: 41.66666667%; }
  .sam-grid-col-offset-tp-4 { margin-right: 33.33333333%; }
  .sam-grid-col-offset-tp-3 { margin-right: 25%; }
  .sam-grid-col-offset-tp-2 { margin-right: 16.66666667%; }
  .sam-grid-col-offset-tp-1 { margin-right: 8.33333333%; }
  .sam-grid-col-offset-tp-0 { margin-right: 0%; }

  .sam-grid-col-pull-tp-12 { left: 100%; }
  .sam-grid-col-pull-tp-11 { left: 91.66666667%; }
  .sam-grid-col-pull-tp-10 { left: 83.33333333%; }
  .sam-grid-col-pull-tp-9 { left: 75%; }
  .sam-grid-col-pull-tp-8 { left: 66.66666667%; }
  .sam-grid-col-pull-tp-7 { left: 58.33333333%; }
  .sam-grid-col-pull-tp-6 { left: 50%; }
  .sam-grid-col-pull-tp-5 { left: 41.66666667%; }
  .sam-grid-col-pull-tp-4 { left: 33.33333333%; }
  .sam-grid-col-pull-tp-3 { left: 25%; }
  .sam-grid-col-pull-tp-2 { left: 16.66666667%; }
  .sam-grid-col-pull-tp-1 { left: 8.33333333%; }
  .sam-grid-col-pull-tp-0 { left: auto; }

  .sam-grid-col-push-tp-12 { right: 100%; }
  .sam-grid-col-push-tp-11 { right: 91.66666667%; }
  .sam-grid-col-push-tp-10 { right: 83.33333333%; }
  .sam-grid-col-push-tp-9 { right: 75%; }
  .sam-grid-col-push-tp-8 { right: 66.66666667%; }
  .sam-grid-col-push-tp-7 { right: 58.33333333%; }
  .sam-grid-col-push-tp-6 { right: 50%; }
  .sam-grid-col-push-tp-5 { right: 41.66666667%; }
  .sam-grid-col-push-tp-4 { right: 33.33333333%; }
  .sam-grid-col-push-tp-3 { right: 25%; }
  .sam-grid-col-push-tp-2 { right: 16.66666667%; }
  .sam-grid-col-push-tp-1 { right: 8.33333333%; }
  .sam-grid-col-push-tp-0 { right: auto; }
}
@media (min-width: 1024px) {
  [class*="sam-grid-col-tl"] { float: right; }

  .sam-grid-col-tl-12 { width: 100%; }
  .sam-grid-col-tl-11 { width: 91.66666667%; }
  .sam-grid-col-tl-10 { width: 83.33333333%; }
  .sam-grid-col-tl-9 { width: 75%; }
  .sam-grid-col-tl-8 { width: 66.66666667%; }
  .sam-grid-col-tl-7 { width: 58.33333333%; }
  .sam-grid-col-tl-6 { width: 50%; }
  .sam-grid-col-tl-5 { width: 41.66666667%; }
  .sam-grid-col-tl-4 { width: 33.33333333%; }
  .sam-grid-col-tl-3 { width: 25%; }
  .sam-grid-col-tl-2 { width: 16.66666667%; }
  .sam-grid-col-tl-1 { width: 8.33333333%; }

  .sam-grid-col-offset-tl-12 { margin-right: 100%; }
  .sam-grid-col-offset-tl-11 { margin-right: 91.66666667%; }
  .sam-grid-col-offset-tl-10 { margin-right: 83.33333333%; }
  .sam-grid-col-offset-tl-9 { margin-right: 75%; }
  .sam-grid-col-offset-tl-8 { margin-right: 66.66666667%; }
  .sam-grid-col-offset-tl-7 { margin-right: 58.33333333%; }
  .sam-grid-col-offset-tl-6 { margin-right: 50%; }
  .sam-grid-col-offset-tl-5 { margin-right: 41.66666667%; }
  .sam-grid-col-offset-tl-4 { margin-right: 33.33333333%; }
  .sam-grid-col-offset-tl-3 { margin-right: 25%; }
  .sam-grid-col-offset-tl-2 { margin-right: 16.66666667%; }
  .sam-grid-col-offset-tl-1 { margin-right: 8.33333333%; }
  .sam-grid-col-offset-tl-0 { margin-right: 0%; }

  .sam-grid-col-pull-tl-12 { left: 100%; }
  .sam-grid-col-pull-tl-11 { left: 91.66666667%; }
  .sam-grid-col-pull-tl-10 { left: 83.33333333%; }
  .sam-grid-col-pull-tl-9 { left: 75%; }
  .sam-grid-col-pull-tl-8 { left: 66.66666667%; }
  .sam-grid-col-pull-tl-7 { left: 58.33333333%; }
  .sam-grid-col-pull-tl-6 { left: 50%; }
  .sam-grid-col-pull-tl-5 { left: 41.66666667%; }
  .sam-grid-col-pull-tl-4 { left: 33.33333333%; }
  .sam-grid-col-pull-tl-3 { left: 25%; }
  .sam-grid-col-pull-tl-2 { left: 16.66666667%; }
  .sam-grid-col-pull-tl-1 { left: 8.33333333%; }
  .sam-grid-col-pull-tl-0 { left: auto; }

  .sam-grid-col-push-tl-12 { right: 100%; }
  .sam-grid-col-push-tl-11 { right: 91.66666667%; }
  .sam-grid-col-push-tl-10 { right: 83.33333333%; }
  .sam-grid-col-push-tl-9 { right: 75%; }
  .sam-grid-col-push-tl-8 { right: 66.66666667%; }
  .sam-grid-col-push-tl-7 { right: 58.33333333%; }
  .sam-grid-col-push-tl-6 { right: 50%; }
  .sam-grid-col-push-tl-5 { right: 41.66666667%; }
  .sam-grid-col-push-tl-4 { right: 33.33333333%; }
  .sam-grid-col-push-tl-3 { right: 25%; }
  .sam-grid-col-push-tl-2 { right: 16.66666667%; }
  .sam-grid-col-push-tl-1 { right: 8.33333333%; }
  .sam-grid-col-push-tl-0 { right: auto; }
}
@media (min-width: 1280px) {
  [class*="sam-grid-col-dk"] { float: right; }

  .sam-grid-col-dk-12 { width: 100%; }
  .sam-grid-col-dk-11 { width: 91.66666667%; }
  .sam-grid-col-dk-10 { width: 83.33333333%; }
  .sam-grid-col-dk-9 { width: 75%; }
  .sam-grid-col-dk-8 { width: 66.66666667%; }
  .sam-grid-col-dk-7 { width: 58.33333333%; }
  .sam-grid-col-dk-6 { width: 50%; }
  .sam-grid-col-dk-5 { width: 41.66666667%; }
  .sam-grid-col-dk-4 { width: 33.33333333%; }
  .sam-grid-col-dk-3 { width: 25%; }
  .sam-grid-col-dk-2 { width: 16.66666667%; }
  .sam-grid-col-dk-1 { width: 8.33333333%; }

  .sam-grid-col-offset-dk-12 { margin-right: 100%; }
  .sam-grid-col-offset-dk-11 { margin-right: 91.66666667%; }
  .sam-grid-col-offset-dk-10 { margin-right: 83.33333333%; }
  .sam-grid-col-offset-dk-9 { margin-right: 75%; }
  .sam-grid-col-offset-dk-8 { margin-right: 66.66666667%; }
  .sam-grid-col-offset-dk-7 { margin-right: 58.33333333%; }
  .sam-grid-col-offset-dk-6 { margin-right: 50%; }
  .sam-grid-col-offset-dk-5 { margin-right: 41.66666667%; }
  .sam-grid-col-offset-dk-4 { margin-right: 33.33333333%; }
  .sam-grid-col-offset-dk-3 { margin-right: 25%; }
  .sam-grid-col-offset-dk-2 { margin-right: 16.66666667%; }
  .sam-grid-col-offset-dk-1 { margin-right: 8.33333333%; }
  .sam-grid-col-offset-dk-0 { margin-right: 0%; }

  .sam-grid-col-pull-dk-12 { left: 100%; }
  .sam-grid-col-pull-dk-11 { left: 91.66666667%; }
  .sam-grid-col-pull-dk-10 { left: 83.33333333%; }
  .sam-grid-col-pull-dk-9 { left: 75%; }
  .sam-grid-col-pull-dk-8 { left: 66.66666667%; }
  .sam-grid-col-pull-dk-7 { left: 58.33333333%; }
  .sam-grid-col-pull-dk-6 { left: 50%; }
  .sam-grid-col-pull-dk-5 { left: 41.66666667%; }
  .sam-grid-col-pull-dk-4 { left: 33.33333333%; }
  .sam-grid-col-pull-dk-3 { left: 25%; }
  .sam-grid-col-pull-dk-2 { left: 16.66666667%; }
  .sam-grid-col-pull-dk-1 { left: 8.33333333%; }
  .sam-grid-col-pull-dk-0 { left: auto; }

  .sam-grid-col-push-dk-12 { right: 100%; }
  .sam-grid-col-push-dk-11 { right: 91.66666667%; }
  .sam-grid-col-push-dk-10 { right: 83.33333333%; }
  .sam-grid-col-push-dk-9 { right: 75%; }
  .sam-grid-col-push-dk-8 { right: 66.66666667%; }
  .sam-grid-col-push-dk-7 { right: 58.33333333%; }
  .sam-grid-col-push-dk-6 { right: 50%; }
  .sam-grid-col-push-dk-5 { right: 41.66666667%; }
  .sam-grid-col-push-dk-4 { right: 33.33333333%; }
  .sam-grid-col-push-dk-3 { right: 25%; }
  .sam-grid-col-push-dk-2 { right: 16.66666667%; }
  .sam-grid-col-push-dk-1 { right: 8.33333333%; }
  .sam-grid-col-push-dk-0 { right: auto; }
}