.sam-select {
	position: relative;

	select {
		background-color: #FFF;
		border-color: #bbb;
		border-width: 1px;
		border-style: solid;
		width: 100%;
		padding: 2px 9px 5px;
		font-size: 11px;
		color: #555;
		background-color: #FFF;
		border-radius: $radius;
		direction: rtl;
		text-align: right;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		min-width: 60px;

		&:hover {
			box-shadow: 0px 0px 0px 1px #BBB inset;
		}

		+ .sam-icon {
			position: absolute;
			left: 5px;
			top: 6px;
			color: #999;
			font-size: 15px;
			pointer-events: none;
		}

		&:focus {
			background-color: #999;
			border-color: #999;
			color: #fff;

			option {
				background-color: #FFF;
				color: #999;
			}

			+ .sam-icon {
				color: #fff;
			}
		}

		option {
			background: red;
			&::before {
				content: '-';
			}
		}
	}
}
