
@if (true)
{

    <div class="navbar-title">
        <span>مدیریت املاک</span>
    </div>

    <ul class="main-navigation-menu">

       <li data-menu-role="Amlak/Product">
                <a asp-controller="House" asp-action="Index">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-package"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> مدیریت املاک</span>
                        </div>
                    </div>
                </a>
            </li>
        
        <li data-menu-role="Amlak/Category">
            <a asp-controller="Option" asp-action="Index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-package"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> مدیریت  امکانات</span>
                    </div>
                </div>
            </a>
        </li>
        

      
            <li data-menu-role="Amlak/CoinsCreate">
                <a asp-controller="Option" asp-action="Create">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-ruler-pencil"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> ایجاد امکانات جدید</span>
                        </div>
                    </div>
                </a>
            </li>
        
        
        <li data-menu-role="Amlak/CoinsCreate">
            <a asp-controller="Category" asp-action="Index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-ruler-pencil"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> مدیریت گروه </span>
                    </div>
                </div>
            </a>
        </li>
        <li data-menu-role="Amlak/CoinsCreate">
            <a asp-controller="Category" asp-action="Create">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-ruler-pencil"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> ایجاد گروه جدید</span>
                    </div>
                </div>
            </a>
        </li>
        

        @if (User.IsInRole("Admin") || User.IsInRole("Category"))
        {
            <li data-menu-role="Amlak/Category">
                <a asp-controller="Option" asp-action="Index">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-package"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> مدیریت گروه محصولات</span>
                        </div>
                    </div>
                </a>
            </li>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Category"))
        {
            <li data-menu-role="Amlak/CategoryCreate">
                <a asp-controller="Option" asp-action="Create">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="ti-ruler-pencil"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> ایجاد گروه جدید</span>
                        </div>
                    </div>
                </a>
            </li>
        }


    </ul>
}
