<div class="MiddelSlider js_MiddelSlider">
    <div class="MiddelSliderItem">
        <figure class="MainSliderItemPic w100p tc">
            <img src="~/image/banne2.jpg" class="w100p m0a" />
        </figure>
    </div>
    <div class="MiddelSliderItem">
        <figure class="MainSliderItemPic w100p tc">
            <img src="~/image/banne2.jpg" class="w100p m0a" />
        </figure>
    </div>
    <div class="MiddelSliderItem">
        <figure class="MainSliderItemPic w100p tc">
            <img src="~/image/banne2.jpg" class="w100p m0a" />
        </figure>
    </div>
</div>