<div class="Page2colRow row mt20">
    <div class="Page2colRowItem col-md-6 col-12">
        <div class="Page2colRowItemHeader PageNewsItemHeader sborder p10 bold relative before textcut">اخبار املاک و اقتصاد</div>
        <div class="PageNewsContent mtb15">
            <div class="PageNewsFirst">
                <figure class="PageNewsFirstPic prl5 tc relative fr">
                    <img src="~/image/pic6.jpg" class="relativemv img-fluid" />
                </figure>
                <div class="PageNewsFirstDetail prl5 fr">
                    <h3 class="PageNewsFirstDetailHeader relative before textcut bold p10">فصل جابه جایی مستاجران زودتر از موعد آغاز شد.</h3>
                    <div class="PageNewsFirstDetailSummary text-justify lh2 CutString CutString3">
                        پیش فروش واحد های 120 و 110 و 85 متری در مجتمع مسکونی بارانا واقع در خیابان ستارخان منطقه ستارخان از مناطق اصلی تجارت و کسب و کار تهران است که دسترسی راحت و مناسبی هم به سایر مناطق تهران از طریق بزرگراههای بزرگ تهران دارد
                    </div>
                    <div class="PageNewsFirstDetailMore mt-2 ofh">
                        <a href="javascript:void(0)" class="More block fl p-2 relative before trans400">ادامـــــــه...</a>
                        <div class="view fr p-2 relative before textcut">View</div>
                    </div>
                </div>
            </div>
            <div class="PageNewsList my-2 p-2 d-inline-block w-100 cb">
                <a href="javascript:void(0)" class="PageNewsListItem d-block textcut py-2 px-3 trans400 relative before">فصل جابه جایی مستاجران زودتر از موعد آغاز شد</a>
                <a href="javascript:void(0)" class="PageNewsListItem d-block textcut py-2 px-3 trans400 relative before">فصل جابه جایی مستاجران زودتر از موعد آغاز شد</a>
                <a href="javascript:void(0)" class="PageNewsListItem d-block textcut py-2 px-3 trans400 relative before">فصل جابه جایی مستاجران زودتر از موعد آغاز شد</a>
                <a href="javascript:void(0)" class="PageNewsListItem d-block textcut py-2 px-3 trans400 relative before">فصل جابه جایی مستاجران زودتر از موعد آغاز شد</a>
                <a href="javascript:void(0)" class="PageNewsListItem d-block textcut py-2 px-3 trans400 relative before">فصل جابه جایی مستاجران زودتر از موعد آغاز شد</a>
            </div>
        </div>
    </div>
    
   @await Component.InvokeAsync("AboutUs")

</div>