
@*TODO:ViewComponent*@

<div class="threeArticle relative">
    <div class="row">
        <a href="javascript:void(0)" class="threeArticleItem block col-md-4 col-12 relative">
            <figure class="threeArticleItemPic m0a sborder p3 mb15">
                <img src="~/image/pic4.jpg" class="w100p h100p" />
            </figure>
            <h3 class="threeArticleItemTitle block w100p textcut tc ptb15 bold">پیشنهــــــاد ویژه</h3>
            <div class="threeArticleItemSummery m0a tj lh2 CutString CutString2">پیش فروش واحد های 120 و 110 و 85 متری در مجتمع مسکونی بارانا واقع در خیابان ستارخان منطقه ستارخان از مناطق اصلی تجارت و کسب و کار تهران است که دسترسی راحت و مناسبی هم به سایر مناطق تهران از طریق بزرگراههای بزرگ تهران دارد</div>
        </a>
        <a href="javascript:void(0)" class="threeArticleItem block col-md-4 col-12 relative">
            <figure class="threeArticleItemPic m0a sborder p3 mb15">
                <img src="~/image/pic4.jpg" class="w100p h100p" />
            </figure>
            <h3 class="threeArticleItemTitle block w100p textcut tc ptb15 bold">پیشنهــــــاد ویژه</h3>
            <div class="threeArticleItemSummery m0a tj lh2 CutString CutString2">پیش فروش واحد های 120 و 110 و 85 متری در مجتمع مسکونی بارانا واقع در خیابان ستارخان منطقه ستارخان از مناطق اصلی تجارت و کسب و کار تهران است که دسترسی راحت و مناسبی هم به سایر مناطق تهران از طریق بزرگراههای بزرگ تهران دارد</div>
        </a>
        <a href="javascript:void(0)" class="threeArticleItem block col-md-4 col-12 relative">
            <figure class="threeArticleItemPic m0a sborder p3 mb15">
                <img src="~/image/pic4.jpg" class="w100p h100p" />
            </figure>
            <h3 class="threeArticleItemTitle block w100p textcut tc ptb15 bold">پیشنهــــــاد ویژه</h3>
            <div class="threeArticleItemSummery m0a tj lh2 CutString CutString2">پیش فروش واحد های 120 و 110 و 85 متری در مجتمع مسکونی بارانا واقع در خیابان ستارخان منطقه ستارخان از مناطق اصلی تجارت و کسب و کار تهران است که دسترسی راحت و مناسبی هم به سایر مناطق تهران از طریق بزرگراههای بزرگ تهران دارد</div>
        </a>
    </div>

</div>