  <div class="PageStatistics">
    <div class="row w-100 m-auto h-100 align-items-center py-3">
        <div class="PageStatisticsItem col-sm-3 col-6 text-center py-2">
            <span class="PageStatisticsItemIcon d-block text-center"><i class="fa fa-user"></i></span>
            <span class="PageStatisticsItemNumber d-block text-center">5000</span>
            <span class="PageStatisticsItemName d-block text-center mt-3">اعضای سایت</span>
        </div>
        <div class="PageStatisticsItem col-sm-3 col-6 text-center py-2">
            <span class="PageStatisticsItemIcon d-block text-center"><i class="fa fa-home"></i></span>
            <span class="PageStatisticsItemNumber d-block text-center">2200</span>
            <span class="PageStatisticsItemName d-block text-center mt-3">تعداد ویلا</span>
        </div>
        <div class="PageStatisticsItem col-sm-3 col-6 text-center py-2">
            <span class="PageStatisticsItemIcon d-block text-center"><i class="fa fa-building-o"></i></span>
            <span class="PageStatisticsItemNumber d-block text-center">3300</span>
            <span class="PageStatisticsItemName d-block text-center mt-3">تعداد آپارتمان</span>
        </div>
        <div class="PageStatisticsItem col-sm-3 col-6 text-center py-2">
            <span class="PageStatisticsItemIcon d-block text-center"><i class="fa fa-flag-o"></i></span>
            <span class="PageStatisticsItemNumber d-block text-center">2180</span>
            <span class="PageStatisticsItemName d-block text-center mt-3">تعداد مطالب</span>
        </div>
    </div>
</div>