    <div class="PageMainSlider js_PageMainSlider">
    <div class="MainSliderItem">
        <figure class="MainSliderItemPic w100p tc">
            <img src="~/image/MainSlider1.jpg" class="w100p m0a" />
        </figure>
    </div>
    <div class="MainSliderItem">
        <figure class="MainSliderItemPic w100p tc">
            <img src="~/image/MainSlider2.jpg" class="w100p m0a" />
        </figure>
    </div>
    <div class="MainSliderItem">
        <figure class="MainSliderItemPic w100p tc">
            <img src="~/image/MainSlider3.jpg" class="w100p m0a" />
        </figure>
    </div>
</div>