@using Exir.Regate
@model Amlak.Core.ViewModel.Category.CategoryViewModel

@{
    ViewBag.Title = "ایجاد گروه ";
    Layout = "_Layout";
}


<div class="panel panel-default ">
    <div class="panel-heading" style="font-size: 15px">ایجاد گروه جدید</div>
    <div class="panel-body">


        <form asp-controller="Category" asp-action="Create">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
          

          <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success green-jungle">ثبت اطلاعات</button>
                    <a class="btn btn-default blue-dark" href="@Url.Action("Index", "Category")">بازگشت</a>
                </div>
            </div>

        </form>
    </div>

</div>
