<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />-->
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/CoreStyle.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/HeaderAndFooter.css" rel="stylesheet" />
    <link href="~/css/EnterHouse.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link href="~/css/DetailHouse.css" rel="stylesheet" />

    <script src="~/js/jquery-3.2.1.slim.min.js"></script>
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/js/gmaps.js"></script>

    <title>مشاورین املاک راگا</title>
</head>
<body>
    <div class="FullContainer container-fluid relative">
        @Html.Partial("_Header")

        @RenderBody()
    </div>

    @Html.Partial("_Footer");

    
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/trunk8.pack.js"></script>
    <!--<script src="js/owl.carousel.min.js"></script>-->
    <script src="~/js/Main.js"></script>


    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>
