@using Amlak.Core.SSOT
@inject FileConfig FileConfig
<!DOCTYPE html>



<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />-->
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/CoreStyle.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/HeaderAndFooter.css" rel="stylesheet" />
    <link href="~/css/EnterHouse.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Main.css" />
    <link href="~/css/DetailHouse.css" rel="stylesheet" />

    <link href="~/css/fileinput.min.css" rel="stylesheet" />

    <link href="~/css/gmaps/style.css" rel="stylesheet" />
    <link href="~/css/gmaps/prettify.css" rel="stylesheet" />

    <script src="~/js/jquery-3.2.1.slim.min.js"></script>

    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASsZjT2kkZ13Bl5-I-esgGTUrv41hO3y4&callback=initMap" type="text/javascript"></script>
    <script src="~/js/gmaps/gmaps.js"></script>
    <script src="~/js/gmaps/prettify.js"></script>

    <title>مشاورین املاک راگا</title>

    <style>
        .table-valigned th, .table-valigned td {
            text-align: center;
            vertical-align: middle;
        }
    </style>

</head>
<body>

    <script>
    window.__Configuration = {};
    window.__Configuration['RepositoryUrl'] = '@FileConfig.WebAddress';
    </script>


    <script>
        function PopupCenter(url, title, w, h) {
            // Fixes dual-screen position                         Most browsers      Firefox
            var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
            var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

            var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            var left = ((width / 2) - (w / 2)) + dualScreenLeft;
            var top = ((height / 2) - (h / 2)) + dualScreenTop;
            var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

            // Puts focus on the newWindow
            if (window.focus) {
                newWindow.focus();
            }

            return false;
        }
    </script>

    <div class="FullContainer container-fluid relative">
        @Html.Partial("_Header")

        @RenderBody()
    </div>

    @Html.Partial("_Footer");


    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/trunk8.pack.js"></script>
    <!--<script src="js/owl.carousel.min.js"></script>-->
    <script src="~/js/Main.js"></script>


    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>
