@model Alamut.Data.Paging.IPaginated<Amlak.Core.ViewModel.House.HouseViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{

}
<div class="FullContainer container-fluid relative">
    <div class="PageMainContent ofh relative">
        <div class="row PageSliderRow w-100 mx-auto d-block ofh cb">

            @*@Html.Partial("_slider")*@

            <div class="PageContent col-12 p-0">
                <div class="MainContentRow row mx-auto mt-4">
                    <div class="RightPannel col-lg-3 col-md-6 col-12 order-1 order-md-2 order-sm-3">
                        <div class="SearchHome block ofh cb">
                            <div class="InnerPageItemHeader radius3">
                                <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>جستجو خانه</h2>
                            </div>
                            <div class="SearchHomeContent">
                                <div class="SearchFormTabPanneItem p-2">
                                    <form asp-controller="Detail" asp-action="Index">
                                        <input class="form-control my-2 block ofh cb" type="text" placeholder="مکــــــــــان" id="example-text-input">
                                        <div class="form-group my-2">
                                            <select class="form-control" id="exampleSelect1">
                                                <option disabled selected>وضعـــــــیت</option>
                                                <option>خرید</option>
                                                <option>رهن</option>
                                                <option>اجاره</option>
                                            </select>
                                        </div>
                                        <div class="form-group my-2">
                                            <select class="form-control" id="exampleSelect1">
                                                <option disabled selected>نـــوع خانـــه</option>
                                                <option>آپارتمان</option>
                                                <option>ویلایی</option>
                                                <option>تجاری</option>
                                                <option>اداری</option>
                                            </select>
                                        </div>
                                        <input class="form-control my-2 block ofh cb" type="text" placeholder="کلمـات کلیـدی" id="example-text-input">
                                        <div class="form-group my-2">
                                            <select class="form-control" id="exampleSelect1">
                                                <option disabled selected>تعــداد اتـــاق</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>+3</option>
                                            </select>
                                        </div>
                                        <div class="form-group my-2">
                                            <select class="form-control" id="exampleSelect1">
                                                <option disabled selected>تعــداد حمــام</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>+3</option>
                                            </select>
                                        </div>
                                        <div class="PriceRange my-5 tc p-2">
                                            <div id="testRange"></div>
                                        </div>
                                        <div class="row w-100 m-auto justify-content-between">
                                            <button type="submit" class="btn btn-primary SearchFormBtn SearchBtn rounded-0 col-6">جستجو</button>
                                            <div class="collapse my-2 p-2 MoreOptionItem w-100" id="collapseExample">
                                                <div class="row w-100 m-auto">
                                                    <label class="custom-control custom-checkbox px-1 col-6">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description mr-2 mt-1">پارکینگ</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox px-1 col-6">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description mr-2 mt-1">بالکن</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox px-1 col-6">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description mr-2 mt-1">باشکاه ورزشی</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox px-1 col-6">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description mr-2 mt-1">استخر</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox px-1 col-6">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description mr-2 mt-1">سیستم گرامیش مرکزی</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox px-1 col-6">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description mr-2 mt-1">باربکیو</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                      
                        @await Component.InvokeAsync("SpecialOffer")

                    </div>
                    <div class="AboutHouse col-lg-6 col-md-12 col-12 order-lg-2 order-md-1">
                        <div class="HouseDetail row w-100 m-auto dr p-2">
                            <div class="HouseDetailItems col-md-6 col-12">
                                <div class="HouseDetailItemsPart py-2 cb ofh">
                                    <span class="HouseDetailItemsTitle float-right font-weight-bold">شماره خانه :</span>
                                    <span class="HouseDetailItemsValue float-left font-weight-bold">#123456789</span>
                                </div>
                                <div class="HouseDetailItemsPart py-2 cb ofh">
                                    <span class="HouseDetailItemsTitle float-right font-weight-bold">وضعیت خانه :</span>
                                    <span class="HouseDetailItemsValue float-left font-weight-bold">اجاره</span>
                                </div>
                                <div class="HouseDetailItemsPart py-2 cb ofh">
                                    <span class="HouseDetailItemsTitle float-right font-weight-bold">نوع خانه :</span>
                                    <span class="HouseDetailItemsValue float-left font-weight-bold">آپارتمان</span>
                                </div>
                            </div>
                            <div class="HouseDetailPrice col-md-6 col-12 d-flex align-items-center">
                                <div class="w-100">
                                    <div class="HouseDetailPriceValue w-100 cb tc">3,500,000 تومان</div>
                                    <div class="HouseDetailPriceTime w-100 cb tc">برای هر ماه</div>
                                </div>
                            </div>
                            <div class="HouseDetailText col-12 tj lh2 py-2">
                                درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .درباره خانه .
                            </div>
                        </div>
                        <div class="HouseFeatures">
                            <div class="InnerPageItemHeader radius3 mt-2">
                                <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>امکانات</h2>
                            </div>
                            <div class="HouseFeaturesContent row w-100 m-auto p-2">
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before active">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before active">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before active">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                                <div class="HouseFeaturesItem col-4 ofh px-1 py-2 relative before">امکانات</div>
                            </div>
                        </div>
                    </div>
                    <div class="leftPannel col-lg-3 col-md-6 col-12 order-lg-3 order-3 order-md-3 order-sm-2 px-3">
                        <div class="fourImpoInfo">
                            <div class="fourImpoInfoItem relative d-inline-block w-100 cb">
                                <span class="d-block p-2">متراژ زمین</span>
                                <div class="fourImpoInfoValue absolute rounded-circle p1 text-center d-flex align-items-center justify-content-center">
                                    <div class="fourImpoInfoValueText LandSize SizeValue rounded-circle d-flex align-items-center justify-content-center text-center sborder font-weight-bold after">750</div>
                                </div>
                            </div>
                            <div class="fourImpoInfoItem relative d-inline-block w-100 cb">
                                <span class="d-block p-2">متراژ خانه</span>
                                <div class="fourImpoInfoValue absolute rounded-circle p1 text-center d-flex align-items-center justify-content-center">
                                    <div class="fourImpoInfoValueText BuldSize SizeValue rounded-circle d-flex align-items-center justify-content-center text-center sborder font-weight-bold after">345</div>
                                </div>
                            </div>
                            <div class="fourImpoInfoItem relative d-inline-block w-100 cb">
                                <span class="d-block p-2">تعداد خواب</span>
                                <div class="fourImpoInfoValue absolute rounded-circle p1 text-center d-flex align-items-center justify-content-center">
                                    <div class="fourImpoInfoValueText BuldSize rounded-circle d-flex align-items-center justify-content-center text-center sborder font-weight-bold">3</div>
                                </div>
                            </div>
                            <div class="fourImpoInfoItem relative d-inline-block w-100 cb">
                                <span class="d-block p-2">تعداد حمام</span>
                                <div class="fourImpoInfoValue absolute rounded-circle p1 text-center d-flex align-items-center justify-content-center">
                                    <div class="fourImpoInfoValueText BuldSize rounded-circle d-flex align-items-center justify-content-center text-center sborder font-weight-bold">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="LocationOnMap">
                            <div id="map">

                            </div>
                        </div>
                    </div>
                </div>

                @*  @await Component.InvokeAsync("SimliarRequest")*@
            </div>
        </div>
        <div class=""></div>
    </div>
</div>
