@using Amlak.Core.Entities
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity

Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!-- start: TOP NAVBAR -->
<header class="navbar navbar-default navbar-static-top">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header">
        <a href="/">
            <div class="sam-logo" style="background: transparent;">
                <img src="/falcon/images/simorgh-logo2.png" class="img-responsive" />
            </div>
        </a>

        <a href="#" class="sidebar-mobile-toggler pull-right hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
            <i class="ti-align-justify"></i>
        </a>

        @*<a href="#" class="sidebar-toggler pull-left visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                <i class="ti-align-justify"></i>
            </a>*@
        <a class="pull-left menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="ti-view-grid"></i>
        </a>
    </div>
    <!-- end: NAVBAR HEADER -->
    <!-- start: NAVBAR COLLAPSE -->
  @*@if(SignInManager.IsSignedIn(User))
  {*@
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-right">
             
              <li>
                  <a asp-controller="Account" asp-action="Logout">
                      <i class="ti-power-off"></i> <span>خروج</span>
                  </a>
              </li>

              <li class="dropdown current-user" style="margin-right: 20px;">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span>
                          <img src="/falcon/images/simorgh-logo2.png">
                      </span>

                      <span class="username">
                          @UserManager.GetUserName(User)
                          @*<i class="ti-angle-down"></i>*@
                      </span>
                  </a>
                 
              </li>





          </ul>

          <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
          <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
              <div class="arrow-left"></div>
              <div class="arrow-right"></div>
          </div>
          <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
      </div>
  @*}*@
    @*<a class="dropdown-off-sidebar" data-toggle-class="app-offsidebar-open" data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
            &nbsp;
        </a>*@
    <!-- end: NAVBAR COLLAPSE -->
</header>
<!-- end: TOP NAVBAR -->