@model Calabin.Core.ViewModel.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}



<div class="container">
    <div class="col-md-6 col-lg-offset-3">
        
        @if(!string.IsNullOrEmpty(ViewBag.FailMessage))
        {
            <div class="alert alert-danger fade in" style="margin-top: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                @ViewBag.FailMessage
            </div>
        }
         
        @if(!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success fade in" style="margin-top: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                @ViewBag.Message
            </div>
        }

        <div class="box--store">
            <div class="store--header clearfix">
                <span class="text-title">بازیابی کلمه عبور</span>
            </div>
        
     
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="login border--bottom--radius">
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            
                @*<div class="form-group">
                    <label asp-for="Captcha" ></label>
                    <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage", "Captcha")" style="" />
                    <a id="refresh" class="margin-right-20"> <i class="fa fa-refresh" style="color: #ecac00;font-size: 18px;"></i></a>
                    <input asp-for="Captcha" class="form-control"/>
                    <span asp-validation-for="Captcha" class="text-danger"></span>
                   
                </div>*@
            
                <button type="submit" class="btn btn-default">بازیابی کلمه عبور</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {

            jQuery('#refresh').on('click', function () {
                var random = new Date().getTime();
                jQuery("#imgcpatcha").attr("src", "/Captcha/CaptchaImage?" + random);
            });
        });
    </script>
}




