@model Calabin.Core.ViewModel.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عیور";
}

<div class="container">

    <div class="col-md-6 col-md-offset-3">
        @if (!string.IsNullOrEmpty(ViewBag.FailMessage))
        {
            <div class="alert alert-danger fade in" style="margin-top: 10px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                @ViewBag.FailMessage
            </div>
        }
        <div class="box--store">
            <div class="store--header clearfix">
                <span class="text-title">تغییر کلمه عبور</span>
            </div>
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="login border--bottom--radius">

                @*<input asp-for="Code" type="hidden" />*@
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Code"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                
                @*<div class="form-group">
                    <label asp-for="Captcha" ></label>
                    <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage", "Captcha")" style="" />
                    <a id="refresh" class="margin-right-20"> <i class="fa fa-refresh" style="color: #ecac00;font-size: 18px;"></i></a>
                    <input asp-for="Captcha" class="form-control"/>
                    <span asp-validation-for="Captcha" class="text-danger"></span>
                   
                </div>*@
                <button type="submit" class="btn btn-default">تغییر کلمه عبور</button>
            </form>
        </div>

        <div class="margin-top-10">
          
                <a>
                    کد عضویت را دریافت نکرده اید؟ <a asp-action="ForgotPassword"  class="form--item"> ارسال دوباره کد عضویت</a>
                </a>
           
        </div>
    </div>
</div>



@section Scripts
    {
    <script type="text/javascript">
        $(function () {

            jQuery('#refresh').on('click', function () {
                var random = new Date().getTime();
                jQuery("#imgcpatcha").attr("src", "/Captcha/CaptchaImage?" + random);
            });
        });
    </script>
}




@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@
